<h2>Записаться</h2>
<p>На этой странице Вы можете записаться к нам в Barbershop</p>

<form action="/visit" method="POST"  >

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите Ваше имя">
  </div>

<div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите Ваш телефон">
  </div>

  <div class="form-group">
    <label>Когда Вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>


 <div class="form-group">
    <label>Ваш барбер:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Даниил</option>
      <option>Павел</option>
      <option>Егор</option>
      <option>Максим</option>
      <option>Артём</option>
    </select>
  </div>

 

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>